@charset "UTF-8";

/* RESET INICIAL */
* {
    margin: 0;
    padding: 0;
}


/*FUENTES*/
@font-face {
    font-family: Laila;
    src: url(../fonts/laila.ttf);
}

@font-face {
    font-family: Tillana;
    src: url(../fonts/tillana.ttf);
}


/* SETEOS GENERALES */
html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    font-family: Laila !important;
    color: #2b2b2b
}


li,
a,
h1,
h2,
p {
    color: #2b2b2b !important;
    text-decoration: none !important;
    transition: 0.4s;
}

a:hover {
    color: #ffefd9 !important;
}

/* SETEOS DE NAVBAR */
#nav {
    background-color: #fd4d12 !important;
    font-size: 20px;
    font-family: Laila;
}

.imgLogo {
    max-width: 120px;
    color: #ffefd9 !important;
    color: #ffefd9 !important;
    border-radius: 20px;
    margin-left: 70px;
}

.nav-item a {
    color: #e4e4e4 !important;
    transition: 0.4s;
}

.nav-item a:hover {
    color: #fdc968 !important;
}

.dropdown-menu {
    background-color: #fd4d12 !important;
    border-width: 2px !important;
}

.dropdown-menu a:hover {
    background-color: #fd4d12 !important;
}

#cestaBtnNav {
    max-width: 35px;
    color: white;
    margin-right: 10px;
    transition: 0.5s;
}

#cestaBtnNav:hover {
    color: #fdc968;
    max-width: 39px;
    cursor: pointer;
}

#buscarTxt {
    transition: 0.5s;
}

#buscarTxt:hover {
    background-color: #fdc968;
    border-color: #fdb52e;
}

#btnEnviar {
    margin-right: 118px;
    background-color: #ebebeb;
    border-color: #979797;
    color: #6d6d6d;
}

#btnEnviar:hover {
    background-color: #fdc968;
    border-color: #fab941;
    color: #464646;
}

/* SETEO DE BOTONOES DEL COSTADO */
#arribaBtn,
#cestaBtn,
#whatsappBtn {
    transition: 0.5s;
}

#arribaBtn:hover,
#cestaBtn:hover,
#whatsappBtn:hover {
    color: #fd4d12;
    min-width: 55px;
    min-height: 55px;
}

#arribaBtn {
    position: fixed;
    left: 94%;
    top: 65%;
}

#cestaBtn {
    position: fixed;
    left: 94%;
    top: 75%;
}

#cestaBtn:hover,
#whatsappBtn {
    cursor: pointer;
}

#whatsappBtn {
    position: fixed;
    left: 94%;
    top: 85%;
}

/* SETEOS DEL FOOTER */

footer {
    background-color: #fd4d12;
    border-top-style: solid;
    border-top-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 3px;
}

footer h3 {

    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

/* ESTILOS DE INDEX */

#contenedorIndex {
    margin-top: 50px;
}

.carousel-inner {
    border-radius: 7px;
}

/* ESTILOS DE TARJETAS DE PRODUCTOS (CARDS)*/

#productosDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;

}

#productosDiv img {
    max-width: 250px;

}

.divCategoria {
    flex-basis: 100%;
}

.tarjetaProd {
    background-color: #fd4d12;
    border-radius: 20px;
    border-style: solid;
    border-color: #b1360d;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 70px;
    transition: 0.5;
    min-width: 256px;
    max-width: 256px;
    filter: grayscale(15%) blur(0.40px);
}

.tarjetaProd h2,
.tarjetaProd p {
    color: white !important;
}


.tarjetaProd:hover {
    border-color: #d33e0c;
    background-color: #fd4d12;
    filter: grayscale(0%) blur(0px);
    filter: brightness(120%);

}

.tarjetaProd img {
    min-width: 250px;
    max-width: 250px;
}

.tarjetaProd h2 {
    margin-top: 7px;
    font-size: 22px !important;
}

#prodDesc {
    margin-top: 20px;
    margin-left: 25px;
    max-width: 200px;

}


/* ESTILOS PUNTUALES DE ALTA O BAJA DE PRODUCTO */

.formularioAlta {
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 9px;
}

.formularioAlta textarea {
    resize: none;
}

.formularioAlta span {
    background-color: #ff4000;
    color: #ffffff !important;
    transition: 0.5s;
}

.formularioAlta span:hover {
    filter: brightness(150%);
}

.formularioAlta span,
.formularioAlta input,
.formularioAlta select,
.formularioAlta textarea {
    border-color: #9b9b9b !important;
}

.formularioAlta .btn.btn-primary {
    background-color: #12a505 !important;
    border-color: #096400 !important;
    color: #ffffff !important;
    transition: 0.4s;
    margin-top: 40px;
}



.formularioAlta .btn.btn-primary:hover,
.formularioAlta .btn.btn-primary:active {
    filter: brightness(125%);

}


/* ESTILOS PUNTUALES DE REALIZAR PEDIDOS */

.tarjetaProd button {
    background-color: #ff1e00;
    border-color: #9c1706;
    color: #ffffff;
    transition: 0.5s;
}

.tarjetaProd button:hover,
.tarjetaProd button:active {
    background-color: #ff1e00;
    border-color: #8a1d02;
    filter: brightness(150%);

}

.agregarBtn {
    background-color: #12a505 !important;
    border-color: #096400 !important;
    transition: 0.5s;
    color: #ffffff;
}

.agregarBtn:hover {
    filter: brightness(150%);
}


#finalizarBtn {
    background-color: #12a505 !important;
    border-color: #096400 !important;
    transition: 0.5s;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;

}

#finalizarBtn:hover {
    filter: brightness(150%);

}

#cancelarBtn {
    background-color: #ff1e00;
    border-color: #9c1706;
    color: #ffffff;
    transition: 0.5s;
    margin-bottom: 40px;
    font-size: 20px;
}

#cancelarBtn:hover {
    filter: brightness(150%);
}


#prodCant {
    margin-left: 25px;
    max-width: 200px;
}

.swal2-popup a:hover {
    color: #ff4800 !important;

}

/* VER PEDIDOS HTML */
#h1VerPedidos {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}

#pedidosDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
}


.pedidosCard {
    text-align: center;
    border-style: solid;
    border-color: #ac3100;
    background-color: #ff4800;
    margin-bottom: 50px;
    min-width: 350px;
    max-width: 350px;
    border-radius: 20px;
    margin-right: 30px;
}

.pedidosCard:focus,
.pedidosCard:hover {
    filter: brightness(130%);
}

.pedidosCard p,
.h2Pedido {
    color: white !important;
}

.pedidosCard h2 {
    padding-top: 20px;
}

.pedidosCard h2 svg {
    margin-right: 10px;
    min-width: 33px;
    min-height: 33px;
}

/* GESTIONAR PEDIDOS HTML */
.entregarBtn {
    background-color: #12a505 !important;
    border-color: #096400 !important;
    transition: 0.5s;
    color: #ffffff;
    margin-bottom: 10px;
}

.entregarBtn:hover {
    filter: brightness(150%);
}

.cancelarBtn {
    background-color: #ff1e00 !important;
    border-color: #9c1706 !important;
    transition: 0.5s;
    margin-bottom: 10px;
}

.cancelarBtn:hover {
    filter: brightness(150%);
}

/* ESTILOS DE SWEET ALERT */
.swal2-confirm {
    background-color: #12a505 !important;
    border-color: #095202 !important;
    border-style: solid;
}

.swal2-html-container a {
    color: #d43c00 !important;
    transition: 0.5s;
}

.swal2-html-container a:hover {
    filter: brightness(150%);
}


.swal2-confirm:hover {
    filter: brightness(150%);
}

.swal2-confirm:focus {
    outline: none !important;

}

.colored-toast.swal2-icon-success {
    background-color: #12a505 !important;
}

.colored-toast.swal2-icon-success h2 {
    color: white !important;
}

.colored-toast.swal2-icon-error {
    background-color: #ff1e00 !important;
}

.colored-toast.swal2-icon-error h2 {
    color: white !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}


