@charset "UTF-8";

/* RESET INICIAL */
* {
    margin: 0;
    padding: 0;
}


/*FUENTES*/
@font-face {
    font-family: Laila;
    src: url(../fonts/laila.ttf);
}

@font-face {
    font-family: Tillana;
    src: url(../fonts/tillana.ttf);
}


/* SETEOS GENERALES */
html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    font-family: Laila !important;
    color: #2b2b2b
}


h1 {
    text-align: center;
    margin-left: 370px;
    font-family: Tillana;
    color: #ffddc6;
}


li,
a,
h1,
h2,
p {
    color: #2b2b2b !important;
    text-decoration: none !important;
    transition: 0.4s;
}

a:hover {
    color: #ffefd9 !important;
}

.navbar {
    background-color: #f08e0f;
}


.navlist {
    margin-top: px;
    list-style: none;
    margin-left: 100px;
    max-height: 30px;

}

.listitem {
    display: inline-block;
    padding: 8px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #ffdac1;
    border-radius: 15px;
    border-color: #616161;
    border-style: groove;
    transition: 0.4s;
}

.listitem:hover {
    background-color: #ff934b;
    border-color: #8f4000;
}

#arribaBtn,
#cestaBtn,
#whatsappBtn{
    transition: 0.4s;
}

#arribaBtn:hover,
#cestaBtn:hover,
#whatsappBtn:hover{
    color: #ff6600;
}

#arribaBtn{
    position: fixed;
    left: 94%;
    top:65%;
}

#cestaBtn{
    position: fixed;
    left: 94%;
    top:75%;
}

#cestaBtn:hover,
#whatsappBtn{
    cursor:pointer;
}

#whatsappBtn{
    position: fixed;
    left: 94%;
    top:85%;
}

footer {
    background-color: #f08e0f;
    padding-top: 10px;
    padding-bottom: 3px;
    margin-top: 32px;
}

footer h3 {

    color: #2b2b2b;
    font-size: 14px;
    text-align: center;
}

/* ESTILOS DE INDEX */

#contenedorIndex {
    margin-top: 50px;
}

.carousel-inner {
    border-radius: 7px;
}

/* ESTILOS DE PRODUCTOS Y REALIZAR PEDIDOS (CARDS)*/

#productosDiv {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;

}

#productosDiv img {
    max-width: 250px;

}

.divCategoria {
    flex-basis: 100%;
}

.tarjetaProd {
    background-color: #e08d1f;
    border-radius: 20px;
    border-style: solid;
    border-color: #2b2b2b;
    text-align: center;
    align-items: center;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: 0.5;
    min-width: 256px;
    max-width: 256px;
    filter: grayscale(20%) blur(0.40px);
}

.tarjetaProd img {
    min-width: 250px;
    max-width: 250px;
}

.tarjetaProd:hover {
    background-color: #ff9100;
    filter: grayscale(0%) blur(0px);
}

.tarjetaProd h2 {
    margin-top: 5px;
    font-size: 22px !important;
}

.tarjetaProd button {
    background-color: #ffdac1;
    border-color: #2b2b2b;
    color: #2b2b2b;
    transition: 0.4s;
}



.tarjetaProd button:hover,
.tarjetaProd button:active {
    background-color: #ff934b !important;
    border-color: #8f4000 !important;
}

/* ESTILOS PUNTUALES DE ALTA DE PRODUCTO */

#btnAltaProd {
    background-color: #f08e0f;
    border-color: #ad6f1d;

}

#btnAltaProd:hover {
    background-color: #ffae00;
    border-color: #ad7f1d;
}


/* ESTILOS PUNTUALES DE REALIZAR PEDIDOS */

#agregarBtn:hover {
    background-color: #29b41d85 !important;
    border-color: #053b00 !important;

}


#finalizarBtn {
    background-color: #2ab41d !important;
    border-color: #053b00 !important;

}

#finalizarBtn:hover {
    background-color: #22ce12 !important;
    border-color: #096400 !important;

}

#cancelarBtn {
    background-color: #ff4800;
    border-color: #2b2b2b;
    transition: 0.4s;
}



#cancelarBtn:hover {
    background-color: #fd651f !important;
    border-color: #ca5b00 !important;
}



#prodDesc {
    margin-top: 20px;
    margin-left: 25px;
    max-width: 200px;
    background-color: #fdece1;
    border-radius: 5px;
    border-style: groove;
}

#prodCant {
    margin-left: 25px;
    max-width: 200px;
    background-color: #fdece1;
    border-radius: 5px;
    border-style: groove;
}

/* ESTILOS DE ALTA DE PRODUCTO */

.formularioAlta {
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 9px;
}

.formularioAlta textarea {
    resize: none;
}

.formularioAlta span {
    background-color: #ff9100;
}

.formularioAlta span:hover {
    background-color: #ffae00;
}

.formularioAlta span,
.formularioAlta input,
.formularioAlta select,
.formularioAlta textarea {
    border-color: #2b2b2b !important;
}

.formularioAlta .btn.btn-primary {
    background-color: #fa6c0d;
    border-color: #9b3e00;
    color: #2b2b2b;
    transition: 0.4s;
    margin-top: 40px;
}



.formularioAlta .btn.btn-primary:hover,
.formularioAlta .btn.btn-primary:active {
    background-color: #ff9100;
    border-color: #ff6600;
    color: #2b2b2b;
}